<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>--Red Envelope for 2020--</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css">
  <link rel="icon" href="/static/favicon.ico" type="image/x-ico">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
</head>
<body background="/static/background.jpg">
<section class="hero is-fullheight">
  <div id="app" class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <div class="title has-text-centered">
            --- Red Envelope for 2020 ---
          </div>
          <br>
          <div class="subtitle has-text-centered">
            --- Please keep it as a secret! It's important! ---
          </div>
          <br>
          <div class="field has-text-centered">
            <form method="post">
              <input type="hidden" name="lucky" value="2020poordog">
              <button class="button is-danger" onclick="alert('Greedy person you are!')">
                Click me to get secret code!
              </button>
            </form>
          </div>
          <br>
          <div class="field has-text-centered">
            <form method="post">
              <input type="hidden" name="lucky" value="2020luckydog">
              <button class="button is-success" onclick="alert('You are truly kind!')">
                I don't like red envelope, I'll bless everyone!
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>